{% extends "layout.html" %}

{% block main %}
    <h1>Edit Concerns</h1>
    <hr>

    <table class="center">
        <tr>
            <th>Current Concerns:</th>

        </tr>

        {% for i in concerns %}

            <tr>
                <td>{{ i }}</td>

            </tr>
        {% endfor %}

</table>

<br>

    <form action="/edit" method="post">
        <h4>select concern for deletion</h4>
        <select name="del_concerns" id = "del_concerns">

            <option value="choose" SELECTED DISABLED>{{ num_concerns }} Concern(s) </option>

            {% for i in concerns %}

                <option value="{{ i }}">{{ i }}</option>

            {% endfor %}

        </select>

        <div>
            <br>
            <h4>enter new concern</h4>
            <input name="add" placeholder="add concern" type="text">
        </div>


        <div>
            <br>
            <button type="submit" class="btn btn-primary">update!</button>
        </div>



    </form>


{% endblock %}